# Customer Analytics: Preparing Data for Modeling

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

In this project, I apply my knowledge of data types and categorical data to prepare, transform and efficiently store a dataset of trainees at a hypothetical data science training provider for data modeling.

The idea and dataset for this project are from [this DataCamp project](https://app.datacamp.com/learn/projects/1600).

A summary of the features in the dataset is given in [this data dictionary](data_dictionary.ipynb).

## Load and inspect data

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [3]:
# Load and inspect data
ds_jobs = pd.read_csv("customer_train.csv")
print(ds_jobs.info())
ds_jobs.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
student_id                19158 non-null int64
city                      19158 non-null object
city_development_index    19158 non-null float64
gender                    14650 non-null object
relevant_experience       19158 non-null object
enrolled_university       18772 non-null object
education_level           18698 non-null object
major_discipline          16345 non-null object
experience                19093 non-null object
company_size              13220 non-null object
company_type              13018 non-null object
last_new_job              18735 non-null object
training_hours            19158 non-null int64
job_change                19158 non-null float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,8949,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

Let's make a copy of `ds_jobs` data frame before proceeding with any data transformation.

In [20]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

## Convert all `object` data type to `category` data type

The `category` dtype has some advantages over the `object` (literal string) dtype. For example, it saves memory (this is especially useful when dealing with large datasets) and allows us to easily manipulate data (by using the array of Pandas methods specific to the `category` data type).

In [21]:
ds_jobs_transformed[ds_jobs_transformed.select_dtypes(include="object").columns] = ds_jobs_transformed.select_dtypes(
    include="object").astype("category")

## Convert integers and floats to `int32` and `float16` dtypes

In [22]:
ds_jobs_transformed["student_id"] = ds_jobs_transformed["student_id"].astype("int32")
ds_jobs_transformed["training_hours"] = ds_jobs_transformed["training_hours"].astype("int32")
ds_jobs_transformed["city_development_index"] = ds_jobs_transformed["city_development_index"].astype("float16")
ds_jobs_transformed["job_change"] = ds_jobs_transformed["job_change"].astype("float16")

## Convert columns containing categories with only two factors to Boolean data type

In [24]:
ds_jobs_transformed.nunique()

student_id                19158
city                        123
city_development_index       93
gender                        3
relevant_experience           2
enrolled_university           3
education_level               5
major_discipline              6
experience                   22
company_size                  8
company_type                  6
last_new_job                  6
training_hours              241
job_change                    2
dtype: int64

We see from the output above that the relevant columns are `relevant_experience` and `job_change`.

In [23]:
ds_jobs_transformed["relevant_experience"] = np.where(
    ds_jobs_transformed["relevant_experience"].str.contains("Has", regex=False),
    1, 0
).astype("bool")
ds_jobs_transformed["job_change"] = ds_jobs_transformed["job_change"].astype("bool")

This is the current state of our data:

In [25]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
student_id                19158 non-null int32
city                      19158 non-null category
city_development_index    19158 non-null float16
gender                    14650 non-null category
relevant_experience       19158 non-null bool
enrolled_university       18772 non-null category
education_level           18698 non-null category
major_discipline          16345 non-null category
experience                19093 non-null category
company_size              13220 non-null category
company_type              13018 non-null category
last_new_job              18735 non-null category
training_hours            19158 non-null int32
job_change                19158 non-null bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 401.1 KB

## Make ordinal categorical columns ordered

The ordinal categorical columns include `education_level`, `experience`, `company_size`, `last_new_job` and `enrolled_university`.

In [26]:
# Before ordering
ds_jobs_transformed["education_level"].dtype

CategoricalDtype(categories=['Graduate', 'High School', 'Masters', 'Phd',
                  'Primary School'],
                 ordered=False)

In [27]:
# order education_level
ordered_categories = ["Primary School", "High School", "Graduate", "Masters", "Phd"]
ds_jobs_transformed["education_level"].cat.reorder_categories(
    new_categories=ordered_categories, ordered=True, inplace=True
)
ds_jobs_transformed["education_level"].dtype

CategoricalDtype(categories=['Primary School', 'High School', 'Graduate', 'Masters',
                  'Phd'],
                 ordered=True)

In [28]:
# Order the rest of the columns

# experience
experience_order = [str(i) for i in range(1, 21)]
experience_order.append(">20")
experience_order.insert(0, "<1")
ds_jobs_transformed["experience"].cat.reorder_categories(
    new_categories=experience_order, ordered=True, inplace=True
)

# company_size
comp_size_order = ['<10', '10-49', '50-99', '100-499', '500-999', '1000-4999', '5000-9999', '10000+']
ds_jobs_transformed["company_size"].cat.reorder_categories(
    new_categories=comp_size_order, ordered=True, inplace=True
)

# last_new_job
last_new_job_order = ['never', '1', '2', '3', '4', '>4']
ds_jobs_transformed["last_new_job"].cat.reorder_categories(
    new_categories=last_new_job_order, ordered=True, inplace=True
)

# enrolled_university
enr_uni_order = ['no_enrollment', 'Part time course', 'Full time course']
ds_jobs_transformed["enrolled_university"].cat.reorder_categories(
    new_categories=enr_uni_order, ordered=True, inplace=True
)

## Keep students with at least 10 years of experience working at companies with at least 1000 employees

Because our `experience` and `company_size` columns are ordered, it's possible to filter them just the same way we would numerical columns. This is another advantage of (ordinal) categorical data.

In [29]:
ds_jobs_transformed = ds_jobs_transformed[
    (ds_jobs_transformed["experience"] > "9") & (ds_jobs_transformed["company_size"] > "500-999")]

## Compare `ds_jobs` and `ds_jobs_transformed`

In [33]:
print(ds_jobs.memory_usage())
print()
ds_jobs_transformed.memory_usage()

Index                         80
student_id                153264
city                      153264
city_development_index    153264
gender                    153264
relevant_experience       153264
enrolled_university       153264
education_level           153264
major_discipline          153264
experience                153264
company_size              153264
company_type              153264
last_new_job              153264
training_hours            153264
job_change                153264
dtype: int64

Index                     17608
student_id                 8804
city                       8305
city_development_index     4402
gender                     2305
relevant_experience        2201
enrolled_university        2305
education_level            2401
major_discipline           2409
experience                 3017
company_size               2585
company_type               2409
last_new_job               2409
training_hours             8804
job_change                 2201
dtype: int64

Notice the difference in the amount of memory used by each column in the respective data frames.

In [35]:
print(ds_jobs.info())
print()
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
student_id                19158 non-null int64
city                      19158 non-null object
city_development_index    19158 non-null float64
gender                    14650 non-null object
relevant_experience       19158 non-null object
enrolled_university       18772 non-null object
education_level           18698 non-null object
major_discipline          16345 non-null object
experience                19093 non-null object
company_size              13220 non-null object
company_type              13018 non-null object
last_new_job              18735 non-null object
training_hours            19158 non-null int64
job_change                19158 non-null float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
student_id                2201 non-null int32
city                      2201 non-null category
city_development_index    2201 non-null float16
gender                    1821 non-null category
relevant_experience       2201 non-null bool
enrolled_university       2185 non-null category
education_level           2184 non-null category
major_discipline          2097 non-null category
experience                2201 non-null category
company_size              2201 non-null category
company_type              2144 non-null category
last_new_job              2184 non-null category
training_hours            2201 non-null int32
job_change                2201 non-null bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 70.5 KB

`ds_jobs_transformed` uses 28 times less memory than `ds_jobs`. Granted, the transformed data is much smaller because we filtered out some entries, but even with those entries there's still a large amount of memory saved. You can check this for yourself if you're curious.